{% extends "base.html" %}
    {% block content %}
    <section class="content">
        <h1>About this blog</h1>
        <p>This is a personal project that helps me learn the fundamentals of web delevopement. That's why it doesn't look polished or beautiful at the moment, but it will hopefully get there.</p>
        <p>I'm interested in a variety of topics - from <strong>football</strong> to <strong>politics</strong>, from <strong>languages</strong> to <strong>data science</strong>.</p>
        <p>I will write about them in no particular order, but you will be able to filter them by topic, so you don't have to bother with topics that don't interest you.</p>
    </section>
    {% endblock %}
</body>
</html>
